/* styles.css */
:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #ffffff;
  --bg-sidebar-admin: #242424;
  --text-color: #242424;
  --primary-color: #6200ee;
  --blue-color: #6200ee;
  --white-color: #6200ee;
  --secondary-color: #03dac6;
}

.dark-theme {
  --bg-color: #242424;
  --bg-sidebar-admin: #6200ee;
  --text-color: rgba(255, 255, 255, 0.87);
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);

  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;

  font-synthesis: var(--font-synthesis);
  text-rendering: var(--text-rendering);
  -webkit-font-smoothing: var(--webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--moz-osx-font-smoothing);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
