.home {
  display: flex;
  flex-direction: row;

  &__content {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    &__vouchers {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}

.card {
  border-radius: 8px;
  &__image {
    display: flex;
    align-items: center;
    position: relative;
    img {
      border-radius: 8px;
      max-width: 100%;
      aspect-ratio: 3/2;
      height: auto;
    }

    &__text {
      position: absolute;
      background-color: rgba(155, 155, 155, 0.7);
      padding: 8px 10px;
      margin: 0;
      bottom: 10px;
      left: 10px;
      border-radius: 8px;

      p {
        font-size: 12px;
      }
    }
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}

.toggleDarkMode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  &__btnDarkMode {
    color: var(--text-color);
    padding: 15px;
    background-color: var(--bg-color);
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
